NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GA_DEBUG=false

PAYSTACK_SECRET_KEY=
PAYSTACK_PLAN_STANDARD_MONTHLY=
PAYSTACK_PLAN_STANDARD_YEARLY=
PAYSTACK_PLAN_PRO_MONTHLY=
PAYSTACK_PLAN_PRO_YEARLY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_D1_API_TOKEN=

NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RECOVERABLE_WRAP_SECRET=

CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_BUCKET_NAME=

RESEND_API_KEY=
FREE_PAYSLIP_FROM_EMAIL=
NEWSLETTER_DRIP_SECRET=
